.source {
    width: 100vw;
    height: 74vh;

    &-wrapper {
        padding: 75px;

        &-title {
            padding-bottom: 25px;
            p {
                font-size: 25px;
            }
        }

        &-items {
            padding-left: 50px;

            a {
                font-size: 22px;
                text-decoration: none;
                color: blue;
            }
            a:hover {
                color: lightcoral;
            }
        }
    }
}

@media screen and (max-width: 462px) {
    .source {
        height: 80vh;

        &-wrapper {
            padding: 50px;
        }
    }
}