.source {
    width: 100vw;
    height: 74vh;

    &-wrapper {
        padding: 75px;

        &-title {
            padding-bottom: 25px;
        }

        &-items {
            padding-left: 50px;
        }
    }
}

@media screen and (max-width: 462px) {
    .source {
        height: 80vh;

        &-wrapper {
            padding: 50px;
        }
    }
}