.main {
    width: 100vw;
    height: 100%;

    &-countries {
        padding-left: 250px;
        padding-right: 280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            font-size: 40px;
            font-weight: 500;
        }
    }

    &-content {
        &-items {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.column {
    width: 50vw;
    height: 500px !important;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-events {
        p {
            padding: 10px;
        }
    }

    &-item {
        display: flex;
        flex-direction: row;
        padding-top: 40px;

        &-person {
            width: 300px;
            h2 {
                font-weight: 500;
            }
            button {
                padding: 5px;
                border: 0.5px solid;
                border-radius: 16px;
                background-color: #fdeed9;
                cursor: pointer;
            }
        }

        &-img {
            width: 300px;
            float: right;
            img {
                height: 200px;
                width: 150px;
            }
        }
    }
}

.btn {
    margin: 10px 0;
}

@media screen and (max-width: 462px) {
    .main {
        width: 100vw;
        height: 100%;
        &-countries {
            padding-left: 30px;
            padding-right: 50px;

            p {
                font-size: 25px;
            }
        }

        &-content {
            &-items {
                padding: 5px;

                p {
                    font-size: 12px;
                }
            }
        }
    }
    .column {
        height: 500px !important;
        padding: 40px 0px;

        &-item {
            padding-top: 20px;
            width: 50vw;

            h2 {
                font-size: 12px;
            }

            &-person {
                width: 150px;
                padding-right: 5px;
                button {
                    font-size: 7px;
                }
            }

            &-img {
                width: 150px;

                img {
                    width: 75px;
                    height: 125px;
                }
            }
        }
    }

    .btn {
        padding: 0 6px;
    }
}

.css-ha3bif-MuiTimelineItem-root:before {
    padding: 0 !important;
}

.timeline {
    margin: 0 !important;
    padding: 0 !important;
}