.faq {
    width: 100vw;
    height: 74vh;
    padding: 75px;
}

@media screen and (max-width: 462px) {
    .faq {
        height: 80vh;
        padding: 50px;
    }

    .faq .row-title-text {
        font-size: 15px;
    }

    .faq .row-content-text {
        font-size: 8px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}